{% extends 'base.html' %}


{% block content %}

{% if user.is_authenticated %}
    <h1>MAKE A POST</h1>
    <form method="POST">
    {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" id="exampleInputUsername" placeholder='Host Name' name="host_name" value="{{host_name}}">
        </div>
        <div class="mb-3">
            <input type="text" placeholder='Project Title' class="form-control" id="exampleInputEmail1" name="project_title" value="{{project_title}}">
        </div>
        <div class="mb-3">
            <input type="text" placeholder='Project Description' class="form-control" id="exampleInputEmail1" name="project_description" value="{{project_description}}">
        </div>
        <div class="mb-3">
            <input type="text" placeholder='How can peole get a hold of you? Discord? Slack? Messageing App?' class="form-control" id="exampleInputEmail1" name="project_contact" value="{{project_contact}}">
        </div>
        {% comment %} <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> {% endcomment %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% else %}

You're not allowed to post until you are logged in

{% endif %}
{% endblock  %}